body{
  background: rgb(225,255,225);
  margin: 0;
}

h1{
  font-size: 50px;
}
h2{
  font-size: 37px;
}

section{
  margin: -40px 0;
  padding: 0;
  height: 700px;
}

footer{
  position:fixed;
  bottom: 0px;
  margin: 0 auto;
  margin-bottom: -20px;
  padding: 0;
  text-align: center;
}


ul{
  background: grey;
}

li{
  display: inline-block;
  font-size: 4em;
}

.homeDiv{
  background: red;
  text-align: center;
}
.aboutDiv{
  background: pink;
  text-align: right;
}

.resumeDiv{
  background: blue;
}

.projectsDiv{
  background: yellow;
}

.contactDiv{
  background: green;
}

.centered-text{
  padding-top: 20%;
}


