body{
  background: rgb(225,255,225);
  margin: 0;
}

section{
  margin: -20px 0;
  padding: 0;
  height: 500px;
}

footer{
  position:fixed;
  bottom: 0px;
  margin: 0;
  margin-bottom: -20px;
  padding: 0;
}


ul{
  background: grey;
}

li{
  display: inline-block;
  font-size: 5em;
}

.homeDiv{
  background: red;
  text-align: center;
}
.aboutDiv{
  background: pink;
}

.resumeDiv{
  background: blue;
}

.projectsDiv{
  background: yellow;
}

.contactDiv{
  background: green;
}

.centered-text{
  /*margin: 25% auto;*/
  padding-top: 25%;
}


